{% extends "./base.html" %}
{% block title %}{{local_authority}}{% endblock %}
{% block content %}
    <h3>{{local_authority}}</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uk = {lat: 50.761380, lng: -1.297824};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uk
        });
        position: {};
        {% for pub in local_pubs %}
          var marker = new google.maps.Marker({
            position: {lat: {{pub.latitude}}, lng: {{pub.longitude}}},
            map: map
          });
        {% endfor %}
        map.setCenter(position);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA55SAbFDVc2gwol366r5tIKceFruboj7c&callback=initMap">
    </script>
{% endblock %}
